.signup-wrapper{
    width: 20%;
    margin: auto;
    display: block;
    margin-top: 10%;
    font-size: xx-large;
    font-family: cursive;
}
.signup{
    margin-bottom: 10%;
}
.signup-button{
    padding: 20px;
    font-size: smaller;
    border: saddlebrown;
    border-radius: 30%;
    font-weight: 700;
}